body {
  background-color: #1d334e;
  font-family: "Trebuchet MS", sans-serif;
  color: #fbf5f3;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.fitcontent {
  width:fit-content;
}

.poweredby {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
}

.poweredby .cardlink {
  border: 2px solid #888888;
  border-radius: 30px;
  margin: 10px;
  padding: 2px;
  box-shadow: 2px 5px black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  color: black;
}

.poweredby p {
  margin-top:10px;
  margin-bottom: 10px;
  text-align: left;
}

.poweredby .cardlink p {
  text-align: left;
}

.bytext {
  font-size:x-small;
  font-weight:bold;
}

.poweredby em {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.subtext {
  font-size:xx-small;
}

em {
  font-weight: bold;
  font-style: normal;
}

.preview_container {
  margin-top: 40px;
  text-align: left;
}

.preview em {
  font-weight: normal;
  font-style: italic;
}

.preview p {
  text-align: left !important;
}

h1 {
  margin-top: 21px;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #a7cbf7;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #6382a7;
}

a:hover {
  color: #de9151;
}

footer {
  margin-top: auto;
  text-align: center;
}

#header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: cover;
}

.border {
  border: 3px solid white;
  margin-top: 16px;
  margin-bottom: 16px;
  display: inline;
  padding: 10px;
}

.content {
  margin:0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content h2 {
  text-align: center;
}

.content p {
  text-align: left;
  margin: 0;
}

.textblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.content > ul {
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  list-style-type: none;
}

.content > ul > ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  font-style: italic;
}

.shortbio {
  margin-top: 20px;
}

.bio {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
  text-align: left;
}

.intro {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
  text-align: left;
  width: 80%;
}

.intro small {
  font-size: small;
  font-style: italic;
}

#shivernet {
  margin: auto;
}

.featurebox {
  display: flex;
  margin: auto;
  align-items: top;
  gap: 15px;
  padding-left: 9%;
  padding-right: 9%;
}

.featurebox div {
  width: 30%;
  padding: 10px;
  text-align: left;
}

.content .featurebox p {
  width: auto;
  text-wrap: wrap;
}

.resources div {
  text-align: left;
  padding-bottom: 10px;
}

.resources h3 {
  color: #869d7a;
  margin-bottom: 5px;
}

.resources p {
  text-align: left;
}

.tool {
  text-align: left;
  background-color: #192738;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.tool-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.tool-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tool-title h3 {
  margin: 0;
}

.tool-title h4 {
  margin: 0;
}

.repo {
  font-size: small;
}

.tools-img {
  float: left;
  margin-right: 10px;
  border-radius: 30%;
}

.tool-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 1px;
}

.release {
  font-family: 'Times New Roman', Times, serif;
  color: gray;
  text-align: center;
}

.cardlink {
  position: relative;
  width: 200px;
  border: 2px solid #888888;
  border-radius: 30px;
  margin: 10px;
  padding: 30px;
  box-shadow: 5px 10px #dddddd;
}

.cardlink p {
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
}

.cardlink:hover {
  cursor: pointer;
}

.cardlink:hover p {
  text-decoration: underline;
}

.linkspan {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.imglinkbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.imglinkbox img {
  max-width: 200px;
}

.imglinkbox a {
  margin-bottom: 30px;
}

li {
  padding-bottom: 5px;
}

.book-title {
  font-style: italic;
}

p.inline {
  text-align: center;
}

.menu-icon {
  font-size: 2em;
  margin-left: 20px;
  z-index: 1;
  margin-top: 0.5em;
  width: fit-content;
  position: fixed;
}

.menu-icon a {
  color: #fbf5f3;
  font-weight: normal;
}

.menu-icon a:visited {
  color: #fbf5f3;
}

.menu-icon a:hover {
  color: #fbf5f3;
}

.menu {
  margin-left: -10px;
  margin-top: 70px;
  position:fixed;
  background-color: #1d334e;
  padding-right: 20px;
  height: 100%;
  visibility: hidden;
}

.script-text {
  font-family: "Trebuchet MS", sans-serif;
  margin-top: 20px;
  margin-left: 30%;
}

.script-text p {
  text-align: left;
}

.border:hover a {
  color: #F5A9B8;
}

.about-img {
  float: left;
  padding-right: 10px;
}

.pronouns {
  margin-top: -1em;
  font-size: small;
  margin-left: 20%;
}

.pronouns span {
  display: inline-block;
  width: fit-content;
}

.manifesto div {
  text-align: left;
  padding-bottom: 10px;
}

.manifesto h3 {
  color: #dd526e;
  margin-bottom: 5px;
}

.manifesto p {
  text-align: left;
}

.manifesto b {
  color: #F5A9B8;
}

.license {
  font-size: small;
}

.purpleblock {
  background-color: #462E5B;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
}

.greenblock {
  background-color: #4E5E5A;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
}

.socialbox {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 800px) {
  #header-img {
    width: 38vh;
    height: 38vh;
  }

  .content {
    width: 100%;
  }
  .subpage-content {
    width: 50%;
  }
  .content p {
    width: 50%;
  }
  .subpage-content p {
    width: auto;
  }
  .bio {
    width: 50%;
  }
}

@media screen
  and (min-width: 320px)
  and (max-width: 800px) {
  #header-img {
    width: 42vw;
    height: 42vw;
  }
  .content {
    width: 100%;
  }
  .subpage-content {
    width: 80%;
  }
  .content p {
    width: 80%;
  }
  .subpage-content p {
    width: auto;
  }
  .script-text {
    margin-left: 10%;
  }
  .pronouns {
    margin-left: 50%;
  }
  .bio {
    width: 90%;
  }
  .featurebox {
    flex-wrap: wrap;
  }
  .featurebox div {
  width: 42%;
  padding: 8px;
  }
}