<footer>
<small>Copyright &copy; <%= branding_data.copyright_year %>, <%= branding_data.copyright_holder %>. All rights reserved.</small>
</footer>

<div class="poweredby">
  <div class="cardlink">
    <a href="https://bluesharkfriends.com/solutions"><span class="linkspan"></span></a>
    <div class="fitcontent"><p><small class="bytext">powered by</small><br /><em>Shiver</em><br /><small class="subtext">A website creation framework</small></p></div>
  </div>
</div>