<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:resources_data.title, description:resources_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:resources_data.title}) %>

<div class="content resources subpage-content">
  <%- include('../partials/header', {title:resources_data.title, subheading: 'Resources'}) %>
  <div>
    <h3>
      - <a href="https://shiverguide.info">The Shiver Guide</a>
    </h3>
    <p>
      An introduction to the Shiver Methodology, the community strategy used by <a href="https://bluesharkfriends.com/">Blue Shark Friends</a>.
    </p>
  </div>
  <div>
    <h3>
      - <a href="https://shivernet.social">The Shivernet Homepage</a>
    </h3>
    <p>
      A landing page for organizing digital community.
    </p>
  </div>
  <div>
    <h3>
      - <a href="https://harbor.shivernet.social">The Shivernet Harbor</a>
    </h3>
    <p>
      A space for people in the process of building their shiver to list their personal sites.
    </p>
  </div>
  <br />
</div>

  <%- include('../partials/footer') %>
  
</body>
</html>